<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikie.file.dao.FileShareMapper">
  <resultMap id="BaseResultMap" type="com.tikie.file.model.FileShare">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tree_ids" jdbcType="VARCHAR" property="treeIds" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="edate" jdbcType="DATE" property="edate" />
    <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
    <result column="vcode" jdbcType="VARCHAR" property="vcode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tree_ids, code, ctime, edate, download_count, vcode
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_file_share
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectBySelective" parameterType="com.tikie.file.model.FileShare" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    tb_file_share
    <where>
      <if test="code != null and code != ''">
        and code = #{code}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_file_share
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tikie.file.model.FileShare">
    insert into tb_file_share (id, tree_ids, code, 
      ctime, edate, download_count, 
      vcode)
    values (#{id,jdbcType=VARCHAR}, #{treeIds,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{edate,jdbcType=DATE}, #{downloadCount,jdbcType=INTEGER}, 
      #{vcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tikie.file.model.FileShare">
    insert into tb_file_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="treeIds != null">
        tree_ids,
      </if>
      <if test="code != null">
        code,
      </if>
      ctime,
      <if test="edate != null">
        edate,
      </if>
      <if test="downloadCount != null">
        download_count,
      </if>
      <if test="vcode != null">
        vcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="treeIds != null">
        #{treeIds,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      NOW(),
      <if test="edate != null">
        #{edate,jdbcType=DATE},
      </if>
      <if test="downloadCount != null">
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="vcode != null">
        #{vcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tikie.file.model.FileShare">
    update tb_file_share
    <set>
      <if test="treeIds != null">
        tree_ids = #{treeIds,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="edate != null">
        edate = #{edate,jdbcType=DATE},
      </if>
      <if test="downloadCount != null">
        download_count = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="vcode != null">
        vcode = #{vcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tikie.file.model.FileShare">
    update tb_file_share
    set tree_ids = #{treeIds,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      edate = #{edate,jdbcType=DATE},
      download_count = #{downloadCount,jdbcType=INTEGER},
      vcode = #{vcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>