<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikie.file.dao.FileTreeMapper">
  <resultMap id="BaseResultMap" type="com.tikie.file.model.FileTree">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_file" jdbcType="BIT" property="isFile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="reback" jdbcType="VARCHAR" property="reback" />
    <result column="reback_type" jdbcType="VARCHAR" property="rebackType" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>

  <sql id="Base_Column_List">
    id, is_file as isFile, name, sort, ctime, utime, file_id as fileId, pid, reback, reback_type, size, thumbnail, `type`
  </sql>

  <insert id="insert" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_tree (id, is_file, name, 
      sort, ctime, utime, 
      file_id, pid, reback, reback_type, 
      size, thumbnail, `type`)
    values (#{id,jdbcType=VARCHAR}, #{isFile,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}, 
      #{fileId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{reback,jdbcType=VARCHAR}, #{reback_type,jdbcType=VARCHAR},
      #{size,jdbcType=VARCHAR}, #{thumbnail,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_tree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isFile != null">
        is_file,
      </if>
      <if test="name != null">
        name,
      </if>
      sort,
      ctime,
      utime,
      <if test="fileId != null">
        file_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="reback != null">
        reback,
      </if>
      <if test="rebackType != null">
        reback_type,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="thumbnail != null">
        thumbnail,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="isFile != null">
        #{isFile},
      </if>
      <if test="name != null">
        #{name},
      </if>
      #{sort},
        NOW(),
        NOW(),
      <if test="fileId != null">
        #{fileId},
      </if>
      <if test="pid != null">
        #{pid},
      </if>
      <if test="reback != null">
        #{reback},
      </if>
      <if test="rebackType != null">
        #{rebackType},
      </if>
      <if test="size != null">
        #{size},
      </if>
      <if test="thumbnail != null">
        #{thumbnail},
      </if>
      <if test="type != null">
        #{type},
      </if>
    </trim>
  </insert>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_file_tree
    where id = #{id,jdbcType=VARCHAR}
  </select>
  
  <!--物理删除一条树形文件记录-->
  <delete id="delete" parameterType="java.lang.String">
    delete from tb_file_tree
    where id = #{id}
  </delete>

  <select id="selectTreeSelective" parameterType="com.tikie.file.model.FileTree" resultType="com.tikie.file.model.FileTree">
    SELECT
      <include refid="Base_Column_List" />
    FROM
        `tb_file_tree`
    <where>
      <if test="id != null and id != ''">
        and id = #{id}
      </if>
      <if test="pid != null and pid != ''">
        and pid = #{pid}
      </if>
      <if test="name != null and name != ''">
        and name LIKE "%"#{name}"%"
      </if>
      <if test="type != null and type != ''">
        and `type` = #{type}
      </if>
    </where>
  </select>
  
  <select  id="getFileCountMap" resultType="java.util.HashMap">
      SELECT COUNT(*) as count,`type` FROM `tb_file_tree` WHERE is_file=1 GROUP BY `type`
  </select>

  <!-- 删除一条树形文件记录  type设为trash -->
  <update id="deleteFileTreeByOneId" parameterType="com.tikie.file.model.FileTree">
      UPDATE tb_file_tree
      SET reback = pid, pid = #{fileTree.pid}, reback_type = `type`
        , utime = now()
      <if test="fileTree.type != null">
        , `type` = #{fileTree.type}
      </if>
      <if test="fileTree.type == null">
        , `type` = 'trash'
      </if>
      WHERE
     id = #{fileTree.id}
  </update>

  <!-- 移动-->
  <update id="removeById" parameterType="com.tikie.file.model.FileTree">
      UPDATE tb_file_tree
      SET pid = #{pid}, utime = #{utime}
      WHERE
     id = #{id}
  </update>

  <!-- 更新第一层文件夹的大小 -->
  <update id="updateFileTreeAddFileSize">
      UPDATE `tb_file_tree` SET size = IFNULL(size, 0) + (SELECT size FROM `tb_file` WHERE id = #{param1})WHERE id = #{param2}
  </update>
  <update id="updateFileTreeDelFileSize">
      UPDATE `tb_file_tree` SET size = IFNULL(size, 0) - (SELECT size FROM `tb_file` WHERE id = #{param1})WHERE id = #{param2}
  </update>
  
  <!-- 重命名一条树形文件记录-->
  <update id="reanameFileTreeByOneId" parameterType="com.tikie.file.model.FileTree">
        UPDATE tb_file_tree
        SET `name` = #{fileTree.name}
        WHERE
	      id = #{fileTree.id}
   </update>

</mapper>