<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikie.file.mapper.FileTreeMapper">
  <resultMap id="BaseResultMap" type="com.tikie.file.model.FileTree">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="relate_count" jdbcType="INTEGER" property="relateCount" />
    <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
    <result column="share_count" jdbcType="INTEGER" property="shareCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_id, relate_count, download_count, share_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_file_statistic
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_file_statistic
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_statistic (id, file_id, relate_count, 
      download_count, share_count)
    values (#{id,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, #{relateCount,jdbcType=INTEGER}, 
      #{downloadCount,jdbcType=INTEGER}, #{shareCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_statistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      relate_count,
      download_count,
      share_count,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      #{relateCount,jdbcType=INTEGER},
      #{downloadCount,jdbcType=INTEGER},
      #{shareCount,jdbcType=INTEGER},
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tikie.file.model.FileTree">
    update tb_file_statistic
    <set>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="relateCount != null">
        relate_count = #{relateCount,jdbcType=INTEGER},
      </if>
      <if test="downloadCount != null">
        download_count = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="shareCount != null">
        share_count = #{shareCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tikie.file.model.FileTree">
    update tb_file_statistic
    set file_id = #{fileId,jdbcType=VARCHAR},
      relate_count = #{relateCount,jdbcType=INTEGER},
      download_count = #{downloadCount,jdbcType=INTEGER},
      share_count = #{shareCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.tikie.file.model.FileTree">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="tree_ids" jdbcType="VARCHAR" property="treeIds" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="edate" jdbcType="DATE" property="edate" />
    <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
    <result column="vcode" jdbcType="VARCHAR" property="vcode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tree_ids, code, ctime, edate, download_count, vcode
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_file_share
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_file_share
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_share (id, tree_ids, code, 
      ctime, edate, download_count, 
      vcode)
    values (#{id,jdbcType=VARCHAR}, #{treeIds,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{ctime,jdbcType=TIMESTAMP}, #{edate,jdbcType=DATE}, #{downloadCount,jdbcType=INTEGER}, 
      #{vcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_share
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="treeIds != null">
        tree_ids,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="edate != null">
        edate,
      </if>
      <if test="downloadCount != null">
        download_count,
      </if>
      <if test="vcode != null">
        vcode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="treeIds != null">
        #{treeIds,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="edate != null">
        #{edate,jdbcType=DATE},
      </if>
      <if test="downloadCount != null">
        #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="vcode != null">
        #{vcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tikie.file.model.FileTree">
    update tb_file_share
    <set>
      <if test="treeIds != null">
        tree_ids = #{treeIds,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="edate != null">
        edate = #{edate,jdbcType=DATE},
      </if>
      <if test="downloadCount != null">
        download_count = #{downloadCount,jdbcType=INTEGER},
      </if>
      <if test="vcode != null">
        vcode = #{vcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tikie.file.model.FileTree">
    update tb_file_share
    set tree_ids = #{treeIds,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      edate = #{edate,jdbcType=DATE},
      download_count = #{downloadCount,jdbcType=INTEGER},
      vcode = #{vcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.tikie.file.model.FileTree">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_file" jdbcType="BIT" property="isFile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="reback" jdbcType="VARCHAR" property="reback" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
  </resultMap>
  <insert id="insert" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_tree (id, is_file, name, 
      sort, ctime, utime, 
      file_id, pid, reback, 
      size, md5)
    values (#{id,jdbcType=VARCHAR}, #{isFile,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}, 
      #{fileId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{reback,jdbcType=VARCHAR}, 
      #{size,jdbcType=BIGINT}, #{md5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_tree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isFile != null">
        is_file,
      </if>
      <if test="name != null">
        name,
      </if>
      sort,
      <if test="ctime != null">
        ctime,
      </if>
      <if test="utime != null">
        utime,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="reback != null">
        reback,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="md5 != null">
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isFile != null">
        #{isFile,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      #{sort,jdbcType=INTEGER},
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="reback != null">
        #{reback,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>