<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikie.file.dao.FileTreeMapper">
  <resultMap id="BaseResultMap" type="com.tikie.file.model.FileTree">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="is_file" jdbcType="BIT" property="isFile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="reback" jdbcType="VARCHAR" property="reback" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
  </resultMap>
  <insert id="insert" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_tree (id, is_file, name, 
      sort, ctime, utime, 
      file_id, pid, reback, 
      size, md5)
    values (#{id,jdbcType=VARCHAR}, #{isFile,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{utime,jdbcType=TIMESTAMP}, 
      #{fileId,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{reback,jdbcType=VARCHAR}, 
      #{size,jdbcType=BIGINT}, #{md5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tikie.file.model.FileTree">
    insert into tb_file_tree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="isFile != null">
        is_file,
      </if>
      <if test="name != null">
        name,
      </if>
      sort,
      <if test="ctime != null">
        ctime,
      </if>
      <if test="utime != null">
        utime,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="reback != null">
        reback,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="md5 != null">
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="isFile != null">
        #{isFile,jdbcType=BIT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      #{sort,jdbcType=INTEGER},
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="utime != null">
        #{utime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="reback != null">
        #{reback,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="md5 != null">
        #{md5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>