<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tikie.file.dao.TFileMapper">
  <resultMap id="BaseResultMap" type="com.tikie.file.model.TFile">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="thumbnail" jdbcType="VARCHAR" property="thumbnail" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="utime" jdbcType="TIMESTAMP" property="utime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="md5" jdbcType="VARCHAR" property="md5" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, thumbnail, size, path, ctime, utime, type, md5
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_file
    where id = #{id}
  </select>

  <select id="selectIdByMd5" parameterType="java.lang.String" resultType="java.lang.String">
    select
    id
    from tb_file
    where md5 = #{md5}
  </select>

  <select id="selectSelective" parameterType="com.tikie.file.model.TFile" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_file
    where 1=1
    <if test="id != null">
      and id=#{id}
    </if>
    <if test="name != null">
      and name=#{name}
    </if>
    <if test="thumbnail != null">
      and thumbnail=#{thumbnail}
    </if>
    <if test="size != null">
      and size=#{size}
    </if>
    <if test="path != null">
      and  path=#{path}
    </if>
    <if test="type != null">
      and type=#{type}
    </if>
    <if test="md5 != null">
      and md5=#{md5}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_file
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.tikie.file.model.TFile">
    insert into tb_file (id, name, thumbnail, 
      size, path, ctime, 
      utime, type)
    values (#{id}, #{name}, #{thumbnail},
      #{size}, #{path}, #{ctime},
      #{utime}, #{type}, #{md5})
  </insert>
  <insert id="insertSelective" parameterType="com.tikie.file.model.TFile">
    insert into tb_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="thumbnail != null">
        thumbnail,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="ctime != null">
        NOW(),
      </if>
      <if test="utime != null">
        NOW(),
      </if>
      type,
      <if test="md5 != null">
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="thumbnail != null">
        #{thumbnail},
      </if>
      <if test="size != null">
        #{size},
      </if>
      <if test="path != null">
        #{path},
      </if>
      <if test="ctime != null">
        #{ctime},
      </if>
      <if test="utime != null">
        #{utime},
      </if>
      #{type},
      <if test="md5 != null">
        #{md5},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tikie.file.model.TFile">
    update tb_file
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="thumbnail != null">
        thumbnail = #{thumbnail},
      </if>
      <if test="size != null">
        size = #{size},
      </if>
      <if test="path != null">
        path = #{path},
      </if>
      <if test="ctime != null">
        ctime = #{ctime},
      </if>
      <if test="utime != null">
        utime = #{utime},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="md5 != null">
        type = #{md5},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tikie.file.model.TFile">
    update tb_file
    set name = #{name},
      thumbnail = #{thumbnail},
      size = #{size},
      path = #{path},
      ctime = #{ctime},
      utime = #{utime},
      type = #{type},
      md5 = #{md5}
    where id = #{id}
  </update>
</mapper>