<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- 尾部导航end -->
	<div th:fragment="copyright" class="container-fluid" style="margin-top: 30px;">
	    <nav class="navbar navbar-default navbar-fixed-bottom">
	      <div class="container">
	       
	       <div class="row">
	           <div class="col-md-6">
	               <p class="navbar-text navbar-left">©2018 <a th:href="@{#}" class="navbar-link">BeiJing Quantuo Unite Data Technology Corporation</a>. All rights reserved.</p>
	           </div>
	           <div class="col-md-6">
	               <p class="navbar-text"><a th:href="@{#}" class="navbar-link" style="color:#428bca!important;">标签系统</a></p>
	               <p class="navbar-text"><a th:href="@{#}" class="navbar-link" style="color:#428bca!important;">爬虫系统</a></p>
	               <p class="navbar-text"><a th:href="@{#}" class="navbar-link" style="color:#428bca!important;">公积金查询系统</a></p>
	               <p class="navbar-text">友情链接：<a th:href="@{https://github.com/290315636/tikie-eureka-registry-center}" class="navbar-link" style="color:#428bca!important;">Spring Cloud模板</a></p>
	           </div>
	       </div>
	      </div>
	    </nav>
	</div>
	<!-- 尾部导航end -->
  </body>
</html>