<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- 头部导航start -->
	<div th:fragment="left-menu" id="menu-nav" class="container-fluid" style="margin-bottom: 46px;">
	  <nav id="left-nav" class="navbar nav-pills nav-stacked">
	      <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" th:href="@{#}"><img alt="全拓" th:title="北京全拓联合数据科技有限公司" th:src="@{/img/logo.ico}" style="margin-top: -5px;"></a>
	        </div>
	    
	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          <ul class="nav navbar-nav">
	            <li class="active"><a th:href="@{#}">首页<span class="sr-only">(current)</span></a></li>
	            <li><a th:href="@{/monitor}">网盘</a></li>
	            <li><a th:href="@{/jobs}">分享</a></li>
	            <li class="dropdown">
	              <a th:href="@{#}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a th:href="@{#}">京东</a></li>
	                <li><a th:href="@{#}">淘宝</a></li>
	                <li><a th:href="@{#}">唯品会</a></li>
	                <li role="separator" class="divider"></li>
	                <li><a th:href="@{#}">最新科技</a></li>
	                <li role="separator" class="divider"></li>
	                <li><a th:href="@{#}">今日头条</a></li>
	              </ul>
	            </li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li><p id="g_welcome" class="navbar-text"></p></li>
	            <form class="navbar-form navbar-left" action="">
	               <div class="form-group">
	                 <input type="text" class="form-control" placeholder="站内搜索">
	               </div>
	               <button type="submit" class="btn btn-default">搜索</button>
	            </form>
	            <li class="dropdown">
	              <a th:href="@{#}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">沐春风 <span class="caret"></span></a>
	              <ul class="dropdown-menu">
	                <li><a th:href="@{#}">个人信息</a></li>
	                <li><a th:href="@{#}">修改密码</a></li>
	                <li role="separator" class="divider"></li>
	                <li><a th:href="@{#}">分享</a></li>
	                <li><a th:href="@{#}">云盘</a></li>
	              </ul>
	            </li>
	          </ul>
	        </div><!-- /.navbar-collapse -->
	      </div><!-- /.container-fluid -->
	  </nav>
	</div>
	<!-- 头部导航end -->
  </body>
</html>



