<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- 头部导航start -->
	<div th:fragment="left" class="container-fluid" style="margin-bottom: 46px;">
		
	  <ul class="nav nav-pills nav-stacked">
		  <li role="presentation" class="active"><a href="#">Home</a></li>
		  <li role="presentation"><a href="#">Profile</a></li>
		  <li role="presentation"><a href="#">Messages</a></li>
	  </ul>
	<!-- 头部导航end -->
  </body>
</html>



