<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="file/common/header :: header(~{::title},~{::link},~{})">
    <title>网盘</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fileinput.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/file/file.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/zTreeStyle/zTreeStyle.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
</head>
<body>
    <div th:replace="~{file/common/menu :: menu}"></div>

	<!-- 左部导航start -->
	<div class="container-fluid" style="margin-top: 58px;">
	  <div th:replace="~{file/common/left :: left}">
	  
	  
	  </div>
	  <div th:replace="~{file/yunpan :: yunpan}">
	  
	  
	  </div>
	</div>
	<!-- 左部导航end -->
    
    <div th:replace="~{file/common/footer :: copyright}"></div>
    
    <script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/locales/zh.js}"></script>
    <script type="text/javascript" th:src="@{/js/spark-md5.min.js}"></script>
    <!-- <script src="https://cdn.bootcss.com/juicer/0.6.15/juicer-min.js"></script> -->
    <script type="text/javascript" th:src="@{/js/file/fileInput.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-treeview.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/math.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.ztree.all.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/file/fileList.js}"></script>
    <script>
    $(function(){
    	FileList.init();
    });
    </script>
</body>
</html>
