<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>云盘</title>
</head>
<body>
  <!-- 右部云盘start -->
  <div id="file-yunpan" th:fragment="yunpan" class="col-md-10">
  	<!-- 云盘按钮start -->
  	<div class="container-fluid breadcrumb">
  		<div class="col-md-7" style="padding-left: 0;padding-right: 0;">
  			<div class="btn-group" role="group" aria-label="...">
			  <button id="file-upload" type="button" class="btn btn-default" data-toggle="modal" data-backdrop="false" data-target="#upload-file-modal">
			  	<span class="glyphicon glyphicon-cloud-upload"></span> 上传
			  </button>
			  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> 新建文件夹</button>
			</div>
			<div id="file-menu-more" class="btn-group" role="group" aria-label="..." style="display:none;">
			  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span> 分享</button>
			  <button type="button" class="btn btn-default">
			  	<span class="glyphicon glyphicon-cloud-download"></span> 下载
			  </button>
			  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> 删除</button>
			  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> 重命名</button>
			  <div class="btn-group" role="group">
			    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-horizontal"></span> 更多
			      <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu">
			      <li><a href="#"><span class="glyphicon glyphicon-duplicate"></span> 复制到</a></li>
			      <li><a href="#"><span class="glyphicon glyphicon-move"></span> 移动到</a></li>
			      <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> 详细信息</a></li>
			    </ul>
			  </div>
		    </div>
  		</div>
  		<div class="col-md-3" style="padding-right: 0;">
  			<div class="pull-right">
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="搜索您的文件">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
			      </span>
			    </div>
			</div>
  		</div>
		<div class="col-md-2" style="padding-left: 0;padding-right: 0;">
			<div class="pull-right">
				<div id="file-style" class="btn-group" role="group" aria-label="...">
					<button type="button" class="btn btn-default active" data-toggle="tooltip" data-placement="top" title="列表">
						<span class="glyphicon glyphicon-th-list"></span>
					</button>
					<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="图标">
						<span class="glyphicon glyphicon-th"></span>
					</button>
					<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="打开子文件夹">
						<span class="glyphicon glyphicon-folder-open"></span>
					</button>
					<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="树形显示">
						<span class="glyphicon glyphicon-tree-conifer"></span>
					</button>
				</div>
			</div>
		</div>
  	</div>
  	<!-- 云盘按钮end -->

    <!-- 路径导航start -->
    <ol id="breadcrumb" class="breadcrumb">
	  <li class="active" data-pid="1"><a href="#"><span class="glyphicon glyphicon-home"></span> 云盘</a></li>
	</ol>
    <!-- 路径导航end -->

	<!-- 右键菜单 -->
	<div id="context-menu">
		<ul class="dropdown-menu" role="menu">
			<li><a th:href="@{#}"><span class="glyphicon glyphicon-cloud-download"></span> 下载</a></li>
			<li onclick="FileList.fileDelete(this);"><a th:href="@{#}" tabindex="-1"><span class="glyphicon glyphicon-trash"></span> 删除</a></li>
			<li><a th:href="@{#}" data-toggle="modal" data-target="#renameModal"><span class="glyphicon glyphicon-edit"></span> 重命名</a></li>
			<li><a th:href="@{#}" data-toggle="modal" data-target="#removeModal"><span class="glyphicon glyphicon-cloud-move"></span> 移动到</a></li>
		</ul>
	</div>

    <!-- 文件展示样式 table-condensed 一start -->
    <div id="file-container" class="container-fluid">
    	<table id="show-file" class="table table-hover">
    	  <tr th:each="prod : ${data.data}">
    	  	  <td class="col-md-1" th:data-id="${prod.id}">
    	  	  	<span class="glyphicon glyphicon-unchecked" style="cursor:pointer"></span>
    	  	  	<div th:class="${prod.thumbnail}"></div>
    	  	  </td>
		      <td th:text="${prod.name}"></td>
		      <td th:text="${prod.size}"></td>
		      <td th:text="${#strings.substringBefore(prod.utime,'.')}"></td>
		      <!-- <td th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}"></td> -->
	      </tr>
		  <!-- <tr>
		  	<td class="col-md-1"><span class="glyphicon glyphicon-unchecked" style="cursor:pointer"></span></td>
		  	<td>需要资料找我1.jpg</td>
		  	<td class="col-md-1">29KB</td>
		  	<td class="col-md-2">2018-06-11 09:26</td>
		  </tr>
		  <tr>
		  	<td class="col-md-1"><span class="glyphicon glyphicon-unchecked" style="cursor:pointer"></span></td>
		  	<td>需要资料找我2.jpg</td>
		  	<td class="col-md-1">29KB</td>
		  	<td class="col-md-2">2018-06-11 09:26</td>
		  </tr>
		  <tr>
		  	<td class="col-md-1"><span class="glyphicon glyphicon-unchecked" style="cursor:pointer"></span></td>
		  	<td>需要资料找我2.jpg</td>
		  	<td class="col-md-1">29KB</td>
		  	<td class="col-md-2">2018-06-11 09:26</td>
		  </tr> -->
		</table>
    </div>
    <!-- 文件展示样式一end -->
    
    <!-- 文件上传模型层start -->
	<div class="modal fade bs-example-modal-lg" id="upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
	 <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">上传文件</h4>
	      </div>
	      <div class="modal-body">
	        <input id="fileUpload" type="file" name="fileUpload" data-preview-file-type="any" data-show-close="false" data-show-preview="true" multiple />
	      </div>
	      <!-- <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
	        <button type="button" class="btn btn-primary">确定</button>
	      </div> -->
	    </div>
	  </div>
	</div>
    <!-- 文件上传模型层end -->
    
    
  </div>
</body>
</html>