<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="file/common/header :: header(~{::title},~{::link},~{})">
	<title>文件上传页面</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/fileinput.min.css}"/>
</head>
<body>
    

	<div class="modal-body">
	    <a href="" class="form-control" style="border:none;">上传模板321</a>
	    <input type="file" name="fileUpload" id="fileUpload" multiple />
    </div>
    
    <div th:replace="~{file/common/footer :: copyright}"></div>
    
    <script type="text/javascript" th:src="@{/js/fileinput.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/locales/zh.js}"></script>
    <script type="text/javascript" th:src="@{/js/file/fileInput.js}"></script>
    <script>
    $(function(){
    	//参数1:控件id、参数2:上传地址
    	FileInput.init("fileUpload", "/file/upload"); 
    });
    </script>
</body>
</html>

